// Variables
//
// Variables should follow the `$component-state-property-size` formula for
// consistent naming. Ex: $nav-link-disabled-color and $modal-content-box-shadow-xs.

//================================================
//Main fonts
//================================================

.baskerville-font {
  font-family: "Libre Baskerville", serif;
}

.oswald-font {
  font-family: "Oswald", sans-serif;
}

//Bootstrap Font Overrides
$font-family-sans-serif: "Quicksand", "Noto Sans", "Liberation Sans", sans-serif,
  "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
$font-family-monospace: SFMono-Regular, Menlo, Monaco, Consolas,
  "Liberation Mono", "Courier New", monospace;

$font-size-root: 20px;

//================================================
//Colors
//================================================

// scss-docs-start theme-color-variables
$primary: #b3d6d2;
//$secondary: #000;
// $success: $green !default;
// $info: $cyan !default;
// $warning: $yellow !default;
// $danger: $red !default;
$light: #fff; //$gray-100 !default;
$dark: #000;

// stylelint-enable value-keyword-case

$border-width: 3px;

//================================================
//Cookie Pop-up Alert
//================================================

$alert-margin-bottom: 0;
$alert-border-radius: 0;

$accordion-button-active-color: #000;

//Inputs
$input-group-addon-border-color: #000;
//$input-border-radius: 0;
$input-border-color: $primary;

div.input-group input.newsletter-input {
  border-radius: 0;
  border-color: #000;
}
div div.input-group input.newsletter-submit.btn {
  background-color: #000;
  color: $primary;
  border-radius: 0;
  border-color: #000;
  &:hover {
    background-color: $primary;
    color: #000;
  }
}

.navbar-nav > li > a.nav-link {
  font-family: "Oswald", sans-serif;
  font-size: 25px;
  letter-spacing: 0.1em;
  font-weight: 700;
  &:hover {
    color: #000;
  }
}

// .navWrap {
//   width: 80px;
//   height: 80px;
// }
.contact-form {
  width: 100%;
  margin-top: 20px;
  max-width: 700px;
}

.text-container {
  max-width: 700px;
}

.opening-hours p,
.opening-hours div,
.opening-hours span {
  display: table-cell;
}

.opening-hours-dots {
  width: 98%;
  border-bottom: 2px dotted #e1e1e1;
  margin-bottom: 10px;
  align-items: baseline;
  position: relative;
  top: -12px;
}

.opening-hours-time {
  text-align: right;
  vertical-align: baseline;
  padding-left: 6px;
}

.opening-hours {
  //text-transform: uppercase;
  font-family: "Oswald", sans-serif;
  display: table;
  // font-size: 16px;
  white-space: nowrap;
  align-items: baseline;
}

.address-container {
  font-family: "Libre Baskerville", serif;
}

// .newsletter {
//   height: 200px;
// }

$alert-padding-y: 0.5rem;

// Drinks Menu Css
button.btn.drinks-menu {
  background-color: $primary;
  color: #000;
  border-color: $primary;
  &:hover {
    background-color: #000;
    color: $primary;
  }
}
.social-icon {
  //background-color: inherit;
  width: 3rem;
  height: 3rem;
  //border-radius: 50%;
  //font-size: 1.5rem;
  line-height: 7px;
  text-align: center;
  //color: $primary;
  //background: #8f8f8f;
  transition: all 0.35s ease-in-out;
}
.social-link {
  color: #fff;
  &:hover {
    color: $primary;
  }
}

.copyright {
  display: inline-block;
}
